<%-include('header.ejs')-%>








<!-- <style>
  body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
  }

  
  h1 {
    color: black; 
    text-align: center;
  }

  form {
    background-color:rgb(181, 181, 217) ;
    padding: 20px;
    border-radius: 10px;
    text-align: center; 
    width:250px;
    height: 350px;
  }

  h4 {
    color:green; 
    text-align: center;
  }

</style>
<form action="/register" method="post" enctype="multipart/form-data">
  <h1>SIGN UP </h1>
  <input type="text" name="name" placeholder="Enter name" required>
  <br><br>
  <input type="email" name="email" placeholder="Enter email" required>
  <br><br>
  <input type="Number" name="phone" placeholder="Enter mobile number" required>
  <br><br>
  <input type="file" name="image" required>
  <br><br>
  <input type="password" name="password" placeholder="Enter password" required>
  <br><br>
  <input type="Submit" value="REGISTER">
  <br><br>

  <a href="/login">existing user?Login</a>

</form> -->




<%-include('footer.ejs')-%>